@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured" style="background-image: url('@Url.Content("~/Images/cb.jpg")'); background-repeat : no-repeat; background-position : center; padding : 20px ">
        <div style="margin: 0 auto; max-width: 960px; padding: 20px 40px 30px 40px; background-color: rgba(0, 0, 0, 0.6);">
            <h1 style="color : white">Help-Desk</h1>
            <h3 style="color : white">Sistema de Gestão inteligente do conhecimento</h3>
        </div>
    </section>
}
<h3>Nunc elementum, turpis a ultricies porta, libero ante mollis odio, et blandit nunc ligula ornare ipsum:</h3>
<ol class="round">
    <li class="one">
        <h5>Lorem ipsum dolor sit amet</h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat quam non arcu vestibulum fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam sit amet justo eu quam tincidunt congue ut vitae sapien. Donec lobortis lacus accumsan mi pretium, ut vulputate sem rutrum. Sed porta enim vitae ligula pharetra facilisis. Donec sed quam imperdiet, sagittis odio non, convallis lectus. Duis ut nisl eu turpis sollicitudin cursus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In adipiscing nec diam et aliquam.
    </li>

    <li class="two">
        <h5>Consectetur adipiscing elit</h5>
        Nunc elementum, turpis a ultricies porta, libero ante mollis odio, et blandit nunc ligula ornare ipsum. Pellentesque at pellentesque leo. Suspendisse in tristique risus. Nam ut libero feugiat, fringilla mauris eget, elementum tortor. Donec vel rhoncus lacus, eget adipiscing libero. Cras sapien tellus, tristique non suscipit a, consectetur sed urna. Mauris fermentum felis vel facilisis bibendum. Morbi ac ullamcorper lectus. Aenean ut fermentum eros. Aliquam ultricies ante tellus, a scelerisque metus iaculis et. Curabitur consequat est vitae ipsum aliquam, quis elementum metus feugiat. Maecenas in neque scelerisque, dictum velit a, bibendum tellus.
    </li>

    <li class="three">
        <h5>Sed placerat quam non arcu vestibulum fringilla</h5>
        Phasellus eu convallis eros, eget interdum tellus. Curabitur elementum, quam id fermentum semper, odio arcu posuere sem, ut pulvinar nisi diam eget nunc. In sodales arcu urna, nec posuere erat adipiscing ac. Curabitur bibendum cursus ante sed bibendum. Maecenas mattis rhoncus justo, sed interdum enim tempor ac. Nunc sed magna nec ligula sollicitudin dignissim quis quis nisl. Nullam tincidunt gravida nisl, non malesuada magna aliquam a. Nulla elementum ipsum odio, non egestas lorem mattis eget. Aenean dignissim elit vitae justo gravida semper quis ut diam. Nulla bibendum dictum enim, ac dignissim quam semper non. Pellentesque nec eros in enim ultricies cursus. Vivamus nec diam eu dolor consequat fermentum. Praesent tincidunt pretium tellus, ac bibendum tellus venenatis vitae. Ut bibendum, elit et semper faucibus, est enim feugiat justo, non viverra erat turpis faucibus dui.
    </li>
</ol>
