@if (ViewBag.MensagemErro != null)
{
    <div class="alert alert-danger">
        @ViewBag.MensagemErro
    </div>
}

@if (ViewBag.MensagemSucesso != null)
{
    <div class="alert alert-success">
        @ViewBag.MensagemSucesso
    </div>
}